@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Jost;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Base Rich Text Styles */
.rich-text {
  font-size: 15px;
  color: #7a7b7d;
  line-height: 1.6; /* Added for better readability */
}

/* Paragraph Styles */
.rich-text p {
  margin-bottom: 16px; /* Add spacing between paragraphs */
}

/* Heading 1 */
.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 24px 0; /* Margin for spacing before and after the heading */
}

/* Heading 2 */
.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 20px 0; /* Margin to separate the heading */
}

/* Heading 3 */
.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 18px 0; /* A bit smaller margin for smaller headings */
}

/* Heading 4 */
.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin: 16px 0; /* Consistent margin for h4 */
}

/* Heading 5 */
.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  margin: 14px 0; /* Slightly smaller margin */
}

/* Heading 6 */
.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  margin: 12px 0; /* Smaller margin for h6 */
}

/* Bold Text */
.rich-text strong {
  font-weight: 700;
}

/* Ordered List */
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
  margin-bottom: 16px; /* Space after the list */
}

/* Unordered List */
.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
  margin-bottom: 16px; /* Space after the list */
}

/* List Items */
.rich-text li {
  margin-bottom: 8px; /* Adds space between list items */
}
